{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="300"/>
  <meta property="og:image:height"   content="300" />

{% endblock social_facebook %}

{% block css %}
{% endblock css %}
{% block content %}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{{article.image.url}}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">{{article.title}}</h1>
        <p class="breadcrumbs">
          <span class="mr-2">
            <a href="{% url 'blog:home' %}">Home <i class="ion-ios-arrow-forward"></i></a>
          </span> 
          <span class="mr-2"><a href="{% url 'blog:home' %}">Articulo <i class="ion-ios-arrow-forward"></i></a></span> 
          <span>{{article.title}} <i class="ion-ios-arrow-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">
        <p class="mb-5">
          <img src="{{article.image.url}}" alt="" class="img-fluid">
        </p>
        <h2 class="mb-3">{{article.title}}</h2>
        {{article.content|safe}}
        <div class="tag-widget post-tag-container mb-5 mt-5">
          <div class="tagcloud">
            
            {% for tag in article.tags.all %}
            <a href="#" class="tag-cloud-link">{{tag.name}}</a>
            {% endfor %}
          </div>
        </div>
        
        <div class="about-author d-flex p-4 bg-light">
          <div class="bio mr-5 img-back-fluid" style="background-image: url('{{article.user.user_userprofile.image.url}}');">

          </div>
          <div class="desc">
            <h3>{{article.user.user_userprofile.first_name}} {{article.user.user_userprofile.last_name}}</h3>
            <p>{{article.user.user_userprofile.ocupation}}</p>
          </div>
        </div>


{% comment %}
<div class="pt-5 mt-5">
  <h3 class="mb-5">6 Comments</h3>
  <ul class="comment-list">
    <li class="comment">
      <div class="vcard bio">
        <img src="images/person_1.jpg" alt="Image placeholder">
      </div>
      <div class="comment-body">
        <h3>John Doe</h3>
        <div class="meta mb-3">November 13, 2019 at 2:21pm</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
        <p><a href="#" class="reply">Reply</a></p>
      </div>
    </li>

    <li class="comment">
      <div class="vcard bio">
        <img src="images/person_1.jpg" alt="Image placeholder">
      </div>
      <div class="comment-body">
        <h3>John Doe</h3>
        <div class="meta mb-3">November 13, 2019 at 2:21pm</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
        <p><a href="#" class="reply">Reply</a></p>
      </div>

      <ul class="children">
        <li class="comment">
          <div class="vcard bio">
            <img src="images/person_1.jpg" alt="Image placeholder">
          </div>
          <div class="comment-body">
            <h3>John Doe</h3>
            <div class="meta mb-3">November 13, 2019 at 2:21pm</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
            <p><a href="#" class="reply">Reply</a></p>
          </div>


          <ul class="children">
            <li class="comment">
              <div class="vcard bio">
                <img src="images/person_1.jpg" alt="Image placeholder">
              </div>
              <div class="comment-body">
                <h3>John Doe</h3>
                <div class="meta mb-3">November 13, 2019 at 2:21pm</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                <p><a href="#" class="reply">Reply</a></p>
              </div>

                <ul class="children">
                  <li class="comment">
                    <div class="vcard bio">
                      <img src="images/person_1.jpg" alt="Image placeholder">
                    </div>
                    <div class="comment-body">
                      <h3>John Doe</h3>
                      <div class="meta mb-3">November 13, 2019 at 2:21pm</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                      <p><a href="#" class="reply">Reply</a></p>
                    </div>
                  </li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="comment">
      <div class="vcard bio">
        <img src="images/person_1.jpg" alt="Image placeholder">
      </div>
      <div class="comment-body">
        <h3>John Doe</h3>
        <div class="meta mb-3">November 13, 2019 at 2:21pm</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
        <p><a href="#" class="reply">Reply</a></p>
      </div>
    </li>
  </ul>
  <!-- END comment-list -->
  
  <div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Leave a comment</h3>
    <form action="#" class="p-5 bg-light">
      <div class="form-group">
        <label for="name">Name *</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="email">Email *</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        <input type="url" class="form-control" id="website">
      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
      </div>

    </form>
  </div>
</div>
{% endcomment %}
  


      </div> <!-- .col-md-8 -->
      <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
        <div class="sidebar-box">
          <form action="#" class="search-form">
            <div class="form-group">
              <span class="icon icon-search"></span>
              <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
            </div>
          </form>
        </div>
        <div class="sidebar-box ftco-animate">
          <div class="categories">
            <h3>Categorias</h3>
            {% for categorias in list_categorias.all %}
            <li><a href="#">{{categorias.title}} <span class="ion-ios-arrow-forward"></span></a></li>
            {% endfor %}
              
          </div>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3>Recent Blog</h3>
          {% for article_last in last_articles %}
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url({{article_last.image.url}});"></a>
            <div class="text">
              <h3 class="heading"><a href="#">{{article_last.title}}</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> {{article_last.created|date:"M j Y"}}</a></div>
                <div><a href="#"><span class="icon-person"></span> {{article_last.user}}</a></div>
                {% comment %}
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                {% endcomment %}
              </div>
            </div>
          </div>
            
          {% endfor %}
            
        </div>

        <div class="sidebar-box ftco-animate">
          <h3>Tags</h3>
          <div class="tagcloud">
            {% for tag in list_tags %}
            <a href="#" class="tag-cloud-link">{{tag.name}}</a>
            {% endfor %}
          </div>
        </div>

{% comment %}
<div class="sidebar-box ftco-animate">
  <h3>Paragraph</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
</div>
{% endcomment %}
  

      </div>

    </div>
  </div>
</section> <!-- .section -->
{% endblock content %}

