{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}

{% block css %}
<style>


</style>

{% endblock css %}
{% block content %}
<div class="hero-wrap js-fullheight" style="background-image: url('{{blog_config.image.url}}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-12 ftco-animate">
        <h1 class="mb-4 mb-md-0">Listado de Articulos</h1>
        <div class="row">
          <div class="col-md-7">
            <div class="text">
              <div class="mouse">
                <a href="#" class="mouse-icon">
                  <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
        {% for article in object_list %}
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
              <a href="{% url 'blog:article_details' article.slug %}" class="block-20" style="background-image: url('{{article.image.url}}');">
              </a>
              <div class="text p-4 float-right d-block">
                <div class="topper d-flex align-items-center">
                  <div class="one py-2 pl-3 pr-1 align-self-stretch">
                    <span class="day">{{article.created|date:"j"}}</span>
                  </div>
                  <div class="two pl-0 pr-3 py-2 align-self-stretch">
                    <span class="yr">{{article.created|date:"Y"}}</span>
                    <span class="mos">{{article.created|date:"F"}}</span>
                  </div>
                </div>
                <h3 class="heading mb-3"><a href="#">{{article.title}}</a></h3>
                <p><a href="{% url 'blog:article_details' article.slug %}" class="btn-custom"><span class="ion-ios-arrow-round-forward mr-3"></span>Ver más</a></p>
              </div>
            </div>
          </div>
          
        {% endfor %}
            
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
{% block js %}

{% endblock js %}