{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}

{% block css %}
<style>


</style>

{% endblock css %}
{% block content %}
<div class="hero-wrap js-fullheight" style="background-image: url('{{blog_config.image.url}}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-12 ftco-animate">
        <h2 class="subheading">Holaaaaaaaa! Bienvenido a.....</h2>
        <h1 class="mb-4 mb-md-0">{{blog_config.name_page}} blog</h1>
        <div class="row">
          <div class="col-md-7">
            <div class="text">
              {{blog_config.content|safe}}
              <div class="mouse">
                <a href="#" class="mouse-icon">
                  <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <section class="ftco-section">
   <div class="container">
     <div class="row">
       <div class="col-md-12">

          {% for article in lists_articles %}
          <div class="case">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-xl-8 d-flex">
                <a href="{% url 'blog:article_details' article.slug %}" class="img w-100 mb-3 mb-md-0" style="background-image: url('{{article.image.url}}');"></a>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
                <div class="text w-100 pl-md-3">
                  {% for tag in article.tags.all %}
                  <span class="subheading">{{tag}} </span>
                  {% endfor %}
                  <h2><a href="{% url 'blog:article_details' article.slug %}">{{article.title}}</a></h2>
                  <ul class="media-social list-unstyled">
                  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                  <div class="meta">
                    <p class="mb-0"><a href="#">11/13/2019</a> | <a href="#">12 min read</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
       </div>
     </div>
     <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
   </div>
 </section>

{% endblock content %}
{% block js %}

{% endblock js %}