{% load static %}

<style>
  li.nav-item .icon-user {
    font-size: 30px;
  }
  li.nav-item.icon_nav {
      display: flex;
  }
  li.nav-item.icon_nav {
    display: flex;
    align-items: center;
}

</style>
<nav class="navbar px-md-0 navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="{% url 'blog:home' %}">Blog<i>py</i>.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="{% url 'blog:home' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'blog:article_list' %}" class="nav-link">Articulos</a></li>
        <li class="nav-item icon_nav"><a href="#"><span class="icon-user"></span></a></li>
        {% comment %}
        <li class="nav-item"><a href="{% url 'blog:home' %}" class="nav-link">Team</a></li>
        <li class="nav-item"><a href="{% url 'blog:home' %}" class="nav-link">Contact</a></li>
        {% endcomment %}
      </ul>
    </div>
  </div>
</nav>